<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Magnetic Poetry</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <style>
 body{
  	background-image: url("http://ie.microsoft.com/testdrive/graphics/magneticpoetry/fridge.png");
  	background-position: 0px -50px;
  	background-repeat: no-repeat;
	background-width: 100%;
	background-height: 100%;
    text-align: center;
}
  .draggable {
  	min-width: 10px;
  	text-align: center;
    height: 25px;
    background: #ccc;
    border: solid thin grey;
    font-family: Courier;
  }
 .right{
  	float:right;
  }
  .side-bar{
  	height:600px;
  	width:150px;
  }
  .footer {
  	vertical-align: bottom;
  	font-size: 10px;
  	clear: both;
  	float: right;
  }
  .new_word {
  	vertical-align: bottom;
  	float: bottom;
  	float: right;
  	clear: both;
  }

  </style>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>

<div class="side-bar right" id="magnets">
<div class="draggable right">magnets</div>
<div class="draggable right">poetry</div>
<div class="draggable right">web</div>
<div class="draggable right">must</div>
<div class="draggable right">!</div>
<div class="draggable right">i</div>
<div class="draggable right">am</div>
<div class="draggable right">we</div>
<div class="draggable right">are</div>
<div class="draggable right">having</div>
<div class="draggable right">fun</div>
<div class="draggable right">programming</div>
<div class="draggable right">ruby</div>
<div class="draggable right">on</div>
<div class="draggable right">rails</div>
<div class="draggable right">hello</div>
<div class="draggable right">goodbye</div>
<div class="draggable right">computers</div>
<div class="draggable right">amazing</div>
<div class="draggable right">wonderful</div>
<div class="draggable right">every</div>
<div class="draggable right">if</div>
<div class="draggable right">by</div>
<div class="draggable right">but</div>
<div class="draggable right">battle</div>
<div class="draggable right">awesome</div>
<div class="draggable right">of</div>
<div class="draggable right">too</div>
<div class="draggable right">top</div>
<div class="draggable right">up</div>
<div class="draggable right">code</div>
<div class="draggable right">complete</div>
<div class="draggable right">droid</div>
<div class="draggable right">always</div>
<div class="draggable right">has</div>
<div class="draggable right">get</div>
<div class="draggable right">for</div>
<div class="draggable right">do</div>
<div class="draggable right">information</div>
<div class="draggable right">happy</div>
<div class="draggable right">creative</div>
<div class="draggable right">phaser</div>
<div class="draggable right">this</div>
<div class="draggable right">brain</div>
<div class="draggable right">biology</div>
<div class="draggable right">cat</div>
<div class="draggable right">and</div>
<div class="draggable right">phone</div>
<div class="draggable right">rock</div>
<div class="draggable right">you</div>
<div class="draggable right">many</div>
<div class="draggable right">complete</div>
<div class="draggable right">love</div>
<div class="draggable right">work</div>
<div class="draggable right">control</div>
<div class="draggable right">remarkable</div>
<div class="draggable right">debonair</div>
<div class="draggable right">blue</div>
<div class="draggable right">striped-</div>
<div class="draggable right">pizza</div>
<div class="draggable right">couch</div>
<div class="draggable right">in</div>
<div class="draggable right">on</div>
<div class="draggable right">over</div>
<div class="draggable right">under</div>
<div class="draggable right">chocolate</div>
<div class="draggable right">popsicle</div>
<div class="draggable right">snow</div>
<div class="draggable right">s</div>
<div class="draggable right">penguin</div>
<div class="draggable right">spork</div>
<div class="draggable right">fruit</div>
<div class="draggable right">sparkle</div>
<div class="draggable right">hand</div>
<div class="draggable right">baby</div>
<div class="draggable right">rasberry</div>
<div class="draggable right">ing</div>
<div class="draggable right">hack</div>
</div>



<div class="new_word">
<form>
  <button onclick="addNewWord(); return false;">Add New Word</button>
</form>
</div>

<script>
$( ".draggable, .draggable1" ).draggable();

function addNewWord(){
	
	var newWord = prompt("Please enter your word:");
	var div = document.createElement("div");
	div.className = 'draggable right ui-draggable';
	var node = document.createTextNode(newWord);
	div.appendChild(node);

	var element=document.getElementById("magnets");
	element.appendChild(div);
	$('#magnets div:last-child').draggable();
	return false;
}

</script>

 <p class="footer">Created by Kate, with help from Lucas, Mike and Andrea.</p>
</body>

</html>

