<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Magnetic Poetry</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <style>
 body{
  	background-image: url('http://ie.microsoft.com/testdrive/graphics/magneticpoetry/fridge.png');
  	background-repeat: no-repeat;
  	background-position: center;
	background-width: 100%;
	background-height: 100%;
    text-align: center;
}
  #draggable {
  	min-width: 10px;
  	max-width: 100px;
  	text-align: center;
    height: 25px;
    background: #ccc;
    border: solid thin grey;
  }
  div{
  	float:right;
  }
  </style>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>

<div id="draggable">Magnetic Poetry</div>
<div id="draggable">Drag me!</div>
<div id="draggable">web</div>
<div id="draggable">must</div>
<div id="draggable">!</div>
<div id="draggable">I</div>
<div id="draggable">am</div>
<div id="draggable">We</div>
<div id="draggable">are</div>
<div id="draggable">having</div>
<div id="draggable">fun</div>
<div id="draggable">programming</div>
<div id="draggable">Ruby</div>
<div id="draggable">on</div>
<div id="draggable">Rails</div>
<div id="draggable">Hello</div>
<div id="draggable">Goodbye</div>
<div id="draggable">computers</div>
<div id="draggable">amazing</div>
<div id="draggable">wonderful</div>
<div id="draggable">every</div>
<div id="draggable">if</div>
<div id="draggable">by</div>
<div id="draggable">but</div>
<div id="draggable">battle</div>
<div id="draggable">awesome</div>
<div id="draggable">of</div>
<div id="draggable">too</div>
<div id="draggable">top</div>
<div id="draggable">up</div>
<div id="draggable">code</div>
<div id="draggable">complete</div>
<div id="draggable">droid</div>
<div id="draggable">always</div>
<div id="draggable">has</div>
<div id="draggable">get</div>
<div id="draggable">for</div>
<div id="draggable">do</div>
<div id="draggable">information</div>
<div id="draggable">happy</div>
<div id="draggable">creative</div>
<div id="draggable">phaser</div>
<div id="draggable">this</div>
<div id="draggable">brain</div>

<script>
$( "#draggable, #draggable1" ).draggable();
</script>
 
</body>
</html>

